@model WebApplication11.DataAccess.Hastum

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3><b>Silmek istediğinize emin misiniz?</b></h3>
<div>
    <h4>Hasta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Ad Soyad:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adsoyad)
        </dd>
        <dt class = "col-sm-2">
            Cinsiyet:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cinsiyet)
        </dd>
        <dt class = "col-sm-2">
            Doğum Tarihi:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dogumtarihi)
        </dd>
        <dt class = "col-sm-2">
            Meslek:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meslek)
        </dd>
        <dt class = "col-sm-2">
            Önceden Geçirdiği Hastalıklar:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Öncedengeçirdiğihastalıklar)
        </dd>
        <dt class = "col-sm-2">
            Adres:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            İlgilenen Doktor:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IlgilenendoktorNavigation.AdSoyad)
        </dd class>
        <dt class = "col-sm-2">
            İlgilenen Hemsire:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IlgilenenhemsireNavigation.AdSoyad)
        </dd class>
        <dt class = "col-sm-2">
            T.C No:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tcno)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Tcno" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a class="btn btn-light" asp-action="Index">Back to List</a>
    </form>
</div>
