@model IEnumerable<WebApplication11.DataAccess.Kisi>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div>
    <form asp-action="Index">
        <div class="row form-group">
            <div class="col-10">
                <input type="text" name="SearchString" class="form-control" placeholder="Ara..">
            </div>
            <div class="col-2">
                <input class="btn btn-primary" type="submit" value="Ara" />
            </div>
        </div>
    </form>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ad Soyad
            </th>
            <th>
                Cinsiyet
            </th>
            <th>
                Doğum Tarihi
            </th>
            <th>
                Hastane
            </th>
            <th>
                Edit
            </th>
            <th>
                Detail
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinsiyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DogumTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UygulamaIsmiNavigation.UygulamaIsmi)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.TCNo">Edit</a> 
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.TCNo">Details</a> 
            </td>
            <td>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TCNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
