@model WebApplication11.DataAccess.Tedavi

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3><b>Silmek istediğinize emin misiniz?</b></h3>
<div>
    <h4>Tedavi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tedavi İsmi:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TedaviIsmi)
        </dd>
        <dt class = "col-sm-2">
            Kullanılan İlaç:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullanılanIlaç)
        </dd>
        <dt class = "col-sm-2">
            Tedavi Süresi:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TedaviSüresi)
        </dd>
        <dt class = "col-sm-2">
            Hasta:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HastaTCNoNavigation.Adsoyad)
        </dd class>
        <dt class = "col-sm-2">
            İlgili Doktor:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IlgilenenDoktorNavigation.AdSoyad)
        </dd class>
        <dt class = "col-sm-2">
            İlgili Hemsire:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IlgilenenHemsireNavigation.AdSoyad)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HastaTCNo" />
        <input type="submit" value="Delete" class="btn btn-danger btn-block" /> 
        <a class="btn btn-light" asp-action="Index">Back to List</a>
    </form>
</div>
